

@import 'reset.scss';
@import 'base.scss';
@import 'components';
@import 'header.scss';
@import 'introduction.scss';
@import 'footer.scss';
@import 'description.scss';


// Deleta depois isso 
img {
    height: 100px;
}

body {
    background-color: $c__white;
}

html {
    font-family: 'Red Hat Display', sans-serif;
}

